@font-face {
    font-family: PoppinsBold;
    src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: PoppinsMedium;
    src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsLight;
    src: url(fonts/Poppins-Light.ttf);
}

h1{
  font-family: PoppinsBold;
}

h2{
  font-family: PoppinsMedium;
  font-size: 30px;
}

h3{
  font-family: PoppinsMedium;
  color: rgb(216, 216, 216);
}

h4{
  font-family: PoppinsLight;
}

h5{
  font-family: PoppinsMedium;
  color:#d1d1d1;
  font-size: 20px;
}

p{
  font-family: PoppinsLight;
  color:#bebebe;
  font-weight: bold;
}


body{
  background-color: #0A192F!important;
}

.T{
  color:#a575ec;
}

.Y{
  color:#d12e2e;
}

.LoL{
  color:#C89B3C;
}

.goal{
  color: rgb(255, 230, 86);
}
/* Loader */

.cen{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A192F;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #53D5BA;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  /* Loader */

#saludo{
    color:#53D5BA;
    font-size: 60px;
    font-weight: bold;
}

#titulo{
    font-family: PoppinsMedium;
}

.color{
    font-size: 17px;
    font-family: PoppinsMedium;
    color: white!important;
}

body{
    color: white;
}

#hero{
  background-color: #0A192F;
}


#Sobremi{
    height: 100vh;
    background-color: #0A192F;
}

#yo{
    background-image: url(images/yo.jpeg);
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
    /* filter: grayscale(100%); */
}

#circulo {
	width: 468px;
	height: 468px;
	border-radius: 50%;
	background: red;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#circulo > p {
	font-family: sans-serif;
	color: white;
	font-size: 1rem;
	font-weight: bold;
}

.green{
  color:#53D5BA;
}


@media (min-width:300px){
  #saludo{
      font-size: 55px;
  }

  #titulo{
      font-size: 20px;
  }

  #sobremi{
    font-family: PoppinsBold;
    margin-top: 5px;
  }

}

@media (min-width:340px){
  #saludo{
      font-size: 50px;
  }

}

@media (min-width:383px){
  #saludo{
      font-size: 55px;
  }

}

@media (min-width:412px){
  #saludo{
      font-size: 60px;
  }

}

@media (min-width:440px){
  #saludo{
      font-size: 65px;
  }

}




@media (max-width:700px){

    #titulo{
        font-size: 20px;
    }

    #sobremi{
      font-family: PoppinsBold;
      margin-top: 5px;
    }

}

#sobremi{
  font-family: PoppinsBold;
}

